.live-pulse {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #0000001a;
  margin-left: 0.2rem;
  background-color: #f21313;
  animation: pulsing 2s infinite;
  vertical-align: middle;
}

@keyframes pulsing {
  0% {
    box-shadow: 0 0 #f003;
  }
  100% {
    box-shadow: 0 0 0 20px #f000;
  }
}
